<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"]</title>

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="preload" as="style" onload="this.rel='stylesheet'">
    <link href="~/lib/fontawesome-free/css/all.min.css" rel="preload" as="style" onload="this.rel='stylesheet'">

    <link href="~/css/framework.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.min.css" rel="preload" as="style" onload="this.rel='stylesheet'" asp-append-version="true" />

</head>
<body id="page-top" class="bg-gradient-primary">

    <div class="container">

        @RenderBody()

    </div>

    <script src="~/js/framework.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
