@inject Services.Managers.Contracts.ICacheManager _cacheManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <partial name="_MetaTagsPartial" model='ViewData[ViewDataConstants.OpenGraphViewModel]' />

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="preload" as="style" onload="this.rel='stylesheet'">
    <link href="~/lib/fontawesome-free/css/all.min.css" rel="preload" as="style" onload="this.rel='stylesheet'" asp-append-version="true">

    <link href="~/css/framework.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.min.css" rel="preload" as="style" onload="this.rel='stylesheet'" asp-append-version="true" />

</head>
<body id="page-top">

    <div id="wrapper">

        @await Html.PartialAsync("_NavSidebar")

        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                @await Html.PartialAsync("_TopNav")
                @RenderBody()

            </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Template<sup>V2</sup>&nbsp;@DateTime.Now.Year - theme by <a target="_blank" href="https://startbootstrap.com/themes/sb-admin-2/">SB Admin 2</a></span>
                    </div>
                </div>
            </footer>

        </div>

    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    @if (User.Identity.IsAuthenticated)
    {
        @await Html.PartialAsync("_LogoutModal")
    }

    @await Html.PartialAsync("_Notifications")

    <script src="~/js/framework.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>

    <script>
        var globalViewModel = new GlobalViewModel(
            '@Html.Raw(JsonConvert.SerializeObject(await _cacheManager.Configuration_Javascript()))',
            '@Html.Raw(TempData["Notifications"] as string)'
        );
        globalViewModel.initialise();
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>