@page
@model CreateUserModel
@{
    ViewData.SetMeta("Create User");
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">@ViewData["Title"]</h1>

    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card border-0 shadow-lg">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="px-5 py-4">
                        <form asp-controller="Admin" asp-action="CreateUser" method="post" class="form-horizontal" role="form">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="FormData.Username" class="control-label"></label>
                                <input asp-for="FormData.Username" class="form-control" />
                                <span asp-validation-for="FormData.Username" class="text-danger"></span>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label asp-for="FormData.EmailAddress" class="control-label"></label>
                                    <input asp-for="FormData.EmailAddress" class="form-control" />
                                    <span asp-validation-for="FormData.EmailAddress" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="FormData.MobileNumber" class="control-label"></label>
                                    <input asp-for="FormData.MobileNumber" class="form-control" />
                                    <span asp-validation-for="FormData.MobileNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label asp-for="FormData.FirstName" class="control-label"></label>
                                    <input asp-for="FormData.FirstName" class="form-control" />
                                    <span asp-validation-for="FormData.FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="FormData.LastName" class="control-label"></label>
                                    <input asp-for="FormData.LastName" class="form-control" />
                                    <span asp-validation-for="FormData.LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label asp-for="FormData.Password" class="control-label"></label>
                                    <input asp-for="FormData.Password" class="form-control" />
                                    <span asp-validation-for="FormData.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="FormData.PasswordConfirm" class="control-label"></label>
                                    <input asp-for="FormData.PasswordConfirm" class="form-control" />
                                    <span asp-validation-for="FormData.PasswordConfirm" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label asp-for="FormData.RoleIds" class="control-label"></label>
                                    <multiselect asp-for="FormData.RoleIds" asp-items="Model.RolesLookup.ToSelectList()"></multiselect>
                                </div>
                            </div>
                            <div class="form-group my-4">
                                <button type="submit" class="btn btn-primary btn-block">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->