@page
@model CreateConfigurationModel
@{
    ViewData.SetMeta("Create Configuration");
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <i class="far fa-clock-o"></i>
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">@ViewData["Title"]</h1>

    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card border-0 shadow-lg">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="px-5 py-4">
                        <div class="alert alert-info" role="alert">
                            Keys must be uppercase, contain only letters, numbers and use underscores instead of spaces.
                        </div>
                        <form asp-controller="Admin" asp-action="CreateConfigurationItem" method="post" class="form-horizontal" role="form">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="FormData.Key" class="control-label"></label>
                                <input asp-for="FormData.Key" class="form-control" />
                                <span asp-validation-for="FormData.Key" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="FormData.Description" class="control-label"></label>
                                <textarea asp-for="FormData.Description" class="form-control"></textarea>
                                <span asp-validation-for="FormData.Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="FormData.IsClientSide" type="checkbox">
                                <label asp-for="FormData.IsClientSide"></label>
                                <label asp-for="FormData.IsClientSide">Is Client Side</label>
                                <span data-toggle="tooltip" data-placement="top" title="Be cautious about sending configuration values to the user's browser">
                                    <i class="fas fa-exclamation-triangle text-warning"></i>
                                </span>
                            </div>

                            <!-- Nav tabs -->
                            <ul class="nav nav-pills" id="tabConfigType" role="tablist">
                                <li class="nav-item flex-fill">
                                    <a class="nav-link active text-center" id="tab-string" data-toggle="tab" href="#string" role="tab" aria-controls="string" aria-selected="true">
                                        <i class="fas fa-font"></i>
                                        <div>String</div>
                                    </a>
                                </li>
                                <li class="nav-item flex-fill">
                                    <a class="nav-link text-center" id="tab-boolean" data-toggle="tab" href="#boolean" role="tab" aria-controls="boolean" aria-selected="false">
                                        <i class="fas fa-toggle-on"></i>
                                        <div>Boolean</div>
                                    </a>
                                </li>
                                <li class="nav-item flex-fill">
                                    <a class="nav-link text-center" id="tab-integer" data-toggle="tab" href="#integer" role="tab" aria-controls="integer" aria-selected="false">
                                        <span class=" fa-1x">
                                            <strong class="">10</strong>
                                        </span>
                                        <div>Integer</div>
                                    </a>
                                </li>
                                <li class="nav-item flex-fill">
                                    <a class="nav-link text-center" id="tab-decimal" data-toggle="tab" href="#decimal" role="tab" aria-controls="decimal" aria-selected="false">
                                        <span class=" fa-1x">
                                            <strong class="">3.14</strong>
                                        </span>
                                        <div>Decimal</div>
                                    </a>
                                </li>
                                <li class="nav-item flex-fill">
                                    <a class="nav-link text-center" id="tab-money" data-toggle="tab" href="#money" role="tab" aria-controls="money" aria-selected="false">
                                        <i class="fas fa-money-bill-alt"></i>
                                        <div>Money</div>
                                    </a>
                                </li>
                                <li class="nav-item flex-fill">
                                    <a class="nav-link text-center" id="tab-datetime" data-toggle="tab" href="#datetime" role="tab" aria-controls="datetime" aria-selected="false">
                                        <i class="fas fa-calendar-day"></i>
                                        <div>DateTime</div>
                                    </a>
                                </li>
                                <li class="nav-item flex-fill">
                                    <a class="nav-link text-center" id="tab-date" data-toggle="tab" href="#date" role="tab" aria-controls="date" aria-selected="false">
                                        <i class="fas fa-calendar"></i>
                                        <div>Date</div>
                                    </a>
                                </li>
                                <li class="nav-item flex-fill">
                                    <a class="nav-link text-center" id="tab-time" data-toggle="tab" href="#time" role="tab" aria-controls="time" aria-selected="false">
                                        <i class="far fa-clock"></i>
                                        <div>Time</div>
                                    </a>
                                </li>

                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content pt-3">
                                <div class="tab-pane active" id="string" role="tabpanel" aria-labelledby="tab-string">
                                    <div class="form-group">
                                        <label asp-for="FormData.StringValue" class="control-label"></label>
                                        <input asp-for="FormData.StringValue" class="form-control" />
                                        <span asp-validation-for="FormData.StringValue" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="tab-pane" id="boolean" role="tabpanel" aria-labelledby="tab-boolean">
                                    <label asp-for="FormData.BooleanValue" class="control-label"></label>
                                    <div class="radio-buttons mb-3">
                                        <label>
                                            <input asp-for="FormData.BooleanValue" type="radio" class="form-check-input" value="@true" />
                                            <i class="fas fa-check bg-success"></i>
                                            <span>On</span>
                                        </label>
                                        <label>
                                            <input asp-for="FormData.BooleanValue" type="radio" class="form-check-input" value="@false" />
                                            <i class="fas fa-times bg-danger"></i>
                                            <span>Off</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="tab-pane" id="integer" role="tabpanel" aria-labelledby="tab-integer">
                                    <label asp-for="FormData.IntValue" class="control-label"></label>
                                    <input asp-for="FormData.IntValue" class="form-control" />
                                    <span asp-validation-for="FormData.IntValue" class="text-danger"></span>
                                </div>
                                <div class="tab-pane" id="decimal" role="tabpanel" aria-labelledby="tab-decimal">
                                    <label asp-for="FormData.DecimalValue" class="control-label"></label>
                                    <input asp-for="FormData.DecimalValue" class="form-control" />
                                    <span asp-validation-for="FormData.DecimalValue" class="text-danger"></span>
                                </div>
                                <div class="tab-pane" id="money" role="tabpanel" aria-labelledby="tab-money">
                                    <label asp-for="FormData.MoneyValue" class="control-label"></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text bg-primary text-white">R</div>
                                        </div>
                                        <input asp-for="FormData.MoneyValue" class="form-control" />
                                    </div>
                                    <span asp-validation-for="FormData.MoneyValue" class="text-danger"></span>
                                </div>
                                <div class="tab-pane" id="datetime" role="tabpanel" aria-labelledby="tab-datetime">
                                    <label asp-for="FormData.DateTimeValue" class="control-label"></label>
                                    <div id="dateDateTime" class="input-group mb-3 date datetimepicker" data-target-input="nearest">
                                        <input asp-for="FormData.DateTimeValue" type="text" class="form-control datetimepicker-input" data-target="#dateDateTime" />
                                        <div class="input-group-append" data-target="#dateDateTime" data-toggle="datetimepicker">
                                            <div class="input-group-text bg-primary text-white">
                                                <i class="fas fa-calendar-day"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <span asp-validation-for="FormData.DateTimeValue" class="text-danger"></span>
                                </div>
                                <div class="tab-pane" id="date" role="tabpanel" aria-labelledby="tab-date">
                                    <label asp-for="FormData.DateValue" class="control-label"></label>
                                    <div id="dateDay" class="input-group mb-3 date datepicker" data-target-input="nearest">
                                        <input asp-for="FormData.DateValue" type="text" class="form-control datetimepicker-input" data-target="#dateDay" />
                                        <div class="input-group-append" data-target="#dateDay" data-toggle="datetimepicker">
                                            <div class="input-group-text bg-primary text-white">
                                                <i class="fas fa-calendar-day"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <span asp-validation-for="FormData.DateValue" class="text-danger"></span>
                                </div>
                                <div class="tab-pane" id="time" role="tabpanel" aria-labelledby="tab-time">
                                    <label asp-for="FormData.TimeValue" class="control-label"></label>
                                    <div id="dateTime" class="input-group mb-3 date timepicker" data-target-input="nearest">
                                        <input asp-for="FormData.TimeValue" type="text" class="form-control datetimepicker-input" data-target="#dateTime" />
                                        <div class="input-group-append" data-target="#dateTime" data-toggle="datetimepicker">
                                            <div class="input-group-text bg-primary text-white">
                                                <i class="fas fa-clock"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <span asp-validation-for="FormData.TimeValue" class="text-danger"></span>
                                </div>

                            </div>
                            <div id="groupCreate" class="form-group my-4">
                                <div class="btn-group btn-group-flex" role="group" aria-label="Basic example">
                                    <button type="submit" class="btn btn-primary col-9 col-md-10">Create</button>
                                    <button type="button" class="btn btn-outline-primary col-3 col-md-2" id="btnClearValue">Clear value</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts  {

    <script type="text/javascript">

        // clear values on tab click
        $("#tabConfigType a, #btnClearValue").click(function () {
            $("#FormData_StringValue").val('');
            $("#FormData_BooleanValue").prop('checked', false);
            $("#FormData_IntValue").val('');
            $("#FormData_DecimalValue").val('');
            $("#FormData_MoneyValue").val('');
            $("#FormData_DateTimeValue").val('');
            $("#FormData_DateValue").val('');
            $("#FormData_TimeValue").val('');
        });

    </script>

}
