@page
@model EditRoleModel
@{
    ViewData.SetMeta("Edit Role");
}

@if (Model.RoleEntity != null)
{
    <div class="container-fluid">

        <h1 class="h3 mb-4 text-gray-800">@ViewData["Title"]</h1>

        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card border-0 shadow-lg">
                    <div class="card-header py-3 text-right">
                        @if (Model.RoleEntity.Is_Enabled)
                        {
                            <a href="#" class="btn btn-danger btn-icon-split" data-toggle="modal" data-target="#modalDisableRole" data-target-id="@Model.RoleEntity.Id">
                                <span class="icon text-white-50">
                                    <i class="fas fa-door-closed"></i>
                                </span>
                                <span class="text">Disable</span>
                            </a>
                        }
                        else
                        {
                            <a href="#" class="btn btn-success btn-icon-split" data-toggle="modal" data-target="#modalEnableRole" data-target-id="@Model.RoleEntity.Id">
                                <span class="icon text-white-50">
                                    <i class="fas fa-door-open"></i>
                                </span>
                                <span class="text">Enable</span>
                            </a>
                        }
                    </div>
                    <div class="card-body p-0">
                        <div class="px-5 py-4">
                            <form asp-controller="Admin" asp-action="EditRole" method="post" class="form-horizontal" role="form">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="FormData.Name" class="control-label"></label>
                                    <input asp-for="FormData.Name" class="form-control" />
                                    <span asp-validation-for="FormData.Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FormData.Description" class="control-label"></label>
                                    <input asp-for="FormData.Description" class="form-control" />
                                    <span asp-validation-for="FormData.Description" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FormData.PermissionIds" class="control-label w-100"></label>
                                    <multicheckbox asp-for="FormData.PermissionIds" asp-items="Model.PermissionsLookup.ToCheckboxList()"></multicheckbox>
                                </div>
                                <div class="form-group my-4">
                                    <button type="submit" class="btn btn-primary btn-block">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@* disable modal *@
<div class="modal fade" id="modalDisableRole" tabindex="-1" role="dialog" aria-labelledby="modalDisableRoleLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white" id="modalDisableRoleLabel">Disable Role</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to disable this role?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">No</button>
                <form asp-page-handler="DisableRole" method="post">
                    <input name="Id" type="hidden" />
                    <button type="submit" class="btn btn-primary">Yes</button>
                </form>
            </div>
        </div>
    </div>
</div>

@* enable modal *@
<div class="modal fade" id="modalEnableRole" tabindex="-1" role="dialog" aria-labelledby="modalEnableRoleLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white" id="modalEnableRoleLabel">Enable Role</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to enable this role?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">No</button>
                <form asp-page-handler="EnableRole" method="post">
                    <input name="Id" type="hidden" />
                    <button type="submit" class="btn btn-primary">Yes</button>
                </form>
            </div>
        </div>
    </div>
</div>